<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
</head>
<body>
	<header>
		<h1>OYSTER ERRORS</h1>
	</header>
	<main>
	{{ content | safe }}
		<footer>
		<p style='font-size: larger;' >An <span style="font-family: Pacifico;">Oliver</span> app</p>
	</footer>
	</main>

</body>
</html>