$color: var(--color-secondary);
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
  font-family: system-ui;
  background-color: #f9f9f9;
  margin: 10px;
}



footer {
  margin-top: auto;
}
h1 {
  color: var(--color-secondary);
  width: fit-content;
  width: -moz-fit-content;
  margin-inline: auto;
  font-family: 'Hammersmith One', sans-serif;
}

main {
  max-width: 500px;
  margin: auto;
}


label {
  font-family: 'Hammersmith One', sans-serif;
}

.search {
  padding: 15px 10px;
  border: 1px solid gray;
  border-radius: 6px;
  width: 100%;
  font-size: large;
  margin-bottom: 15px;
  margin-top: 5px;
  background-color: transparent;
}

.search-button {
    padding: 15px 10px;
    border: 1px solid gray;
    border-radius: 6px;
    width: 100%;
    font-size: large;
    background-color: $color;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 10px;
}

.viewall-button {
      padding: 15px 10px;
      border: 3px solid $color;
      border-radius: 6px;
      width: 100%;
      font-size: large;
      background-color: white;
      color: $color;
      font-family: 'Hammersmith One', sans-serif;
}

.contrast {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 10px;
  text-align: center;
}