:root {


    @font-face {
        font-family: 'Maragsa Display';
        src: url('https://cdn.helloiamoliver.co.uk/fonts/maragsa-display.woff2') format('woff2')
            /*,
           url('https://cdn.helloiamoliver.co.uk/fonts/maragsa-display.woff') format('woff')*/
        ;
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Pacifico';
        src: url('https://cdn.helloiamoliver.co.uk/fonts/pacifico.woff2') format('woff2')
            /*,
           url('https://cdn.helloiamoliver.co.uk/fonts/maragsa-display.woff') format('woff')*/
        ;
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }



    /* Brand Colors */
    --color-primary: #222;
    --color-secondary: #2034BE;
    --color-lightgrey: #DADADA;
    --color-darkgrey: #313125;

    /* Background Colors */
    --color-bg: #FFFFFF;
    --color-bg-secondary: #f7f7f7;
    --color-bg-accent: rgb(174, 182, 225);
    --color-bg-hover: #f3f4f6ea;

    /* Text and Border Colors */
    --color-text: #222;
    --color-text-alt: #222;
    --color-text-gray: #6b7280;
    --color-text-white: #FFF;
    --color-border: #222;
    --color-border-light: #dfe0e1;
    --color-contrast: #FC693C;
    /* Status Colors */
    --color-danger: #E3170A;

    /* Typography */
    --font-family-base: 'Lato',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
    --font-family-heading: 'Maragsa Display',
    Georgia,
    serif,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

    /* Sizes */
    --site-width: 850px;
    --header-height: 75px;
    --header-height-lg: 85px;

    /* Z-index */
    --z-header: 10;

    /* Other */
    --border-radius: 6px;
    --border-radius-sm: 5px;
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
}
