---
layout: base.njk
title: Hello World
---

<div style='width: 100%'>
    <p>Oyster errors landing page!</p>
</div>


<form action="/action_page.php">
  <input type="number" class="search" min="0" max="133">
  <input type="submit" value="Search..." class="search-button">
</form>

<p>or</p>

<input type="submit" value="View all" class="viewall-button">
