---
layout: base.njk
title: Home
---

<div style='width: 100%'>
    <p>Ever wondered what the TfL barrier codes mean? Well, now you can find out!<br>
      Type the number (up to 3 digits in length) below, and find out what's going on.
    </p>
</div>




	{% include "partials/search.njk" %}



<!--<p>or</p>-->



<form action="/all">
    <input type='submit' class="viewall-button" value="View all" />
</form>

